//env.params.PATH = ""

// files that will be accessible to the pipeline
params {
    fq_files = "${baseDir}/data/pools/*_{1,2}.fq.gz"
    reference = "${baseDir}/data/reference/GCA_004348285.1_ASM434828v1_genomic.fna"
    barcodes = "${baseDir}/data/barcodes/barcodes_*.txt"
    meta = "${baseDir}/data/meta.csv"
        
    intervals = false
    probSamples = "${baseDir}/data/bad_samples.txt"
    
    group = "${baseDir}/data/gwas/BayPass/bp_fullgroup.txt"
    lfmm = "${baseDir}/data/gwas/LEA/lfmm*"
    writegrps_function = "${baseDir}/bin/writegrps.r"
    meta2env_function = "${baseDir}/bin/meta2env.r"
    fst_function = "${baseDir}/bin/fst_function.R"
    lea_function = "${baseDir}/bin/LEA.r"
    rda_function = "${baseDir}/bin/rda.r"
    merge_baypass_function = "${baseDir}/bin/baypass_median.R"
    rlibrariesPath = "/home/gbarrett/local/ENTER/lib/R/library/"

    outdir = "${baseDir}/results"

}

profiles {
    standard {
        process {    
            withName: index {
                cpus = 1
            }
            withName: 'fastp' {
                cpus = 5
            }
            withName: 'demultiplex' {
                cpus = 1
            }
            withName: 'bwa' {
                cpus = 4
            }
            withName: 'variant_calling' {
                cpus = 26
            }
            withLabel: 'gwas' {
                cpus = 25
            }
            withLabel: 'stats' {
                cpus = 3
            }
            withLabel: 'little_demon' {
                cpus = 1
            }
        }
    }
    
    cluster {
        executor {
            name = 'slurm'
            queueSize = 26
            }
        process {    
            withName: index {
                    cpus = 1
                    memory = 5.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'fastp' {
                    cpus = 5
                    memory = 40.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'demultiplex' {
                    cpus = 1
                    memory = 40.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'bwa' {
                    cpus = 4
                    memory = 25.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'variant_calling' {
                    cpus = 1
                    memory = 5.GB
                    queue = 'general'
                    clusterOptions = '--qos=xeon'
                }
                withLabel: 'stats' {
                    cpus = 3
                    memory = 1.GB
                    queue = 'general'
                    clusterOptions = '--qos=general'
                }
                withLabel: 'demon' {
                    cpus = 1
                    memory = 1.GB
                    queue = 'general'
                    clusterOptions = '--qos=general'
            }
        }
    }
}

// specify the container you want to use
/*profiles {
    docker {
        docker.enabled = true
    }
}*/
// record pipeline performance into an html report
timeline {
    enabled = false
    file = "${params.outdir}/logs/timeline.html"
}
// take ownership :) of an inanimate creation
manifest {
    name = 'Gabriel-A-Barrett/nf_ArcticGrayling_LandscapeGenomics'
    author = 'Gabriel Barrett'
    description = "Arctic Grayling ddRAD Landscape Genomics Analysis"
    version = '0.0.0'
    nextflowVersion = '>=21.10.6'
    homePage = 'https://github.com/Gabriel-A-Barrett/nf_ArcticGrayling_LandscapeGenomics'
    mainScript = 'main.nf'
}
